
/* #mainTop {
  position: relative;
  width: 1070px;
  margin: 0 auto 25px;
} */
#main_left {
  width: 220px;
  float: left;
  border: 1px solid gray;

}
#main_center {
  width: 520px;
  float: left;
  margin: 0 10px;
  border: 1px solid gray;    
}
#main_right {
  width: 220px;
  float: right;
  border: 1px solid gray;
}
.boxInfo {
  width: 900px;
  text-align:center;
  float: left;
}
.boxInfo img{
  text-align: center;
}
.box_main {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.box_1 {
  width: 175px;
  height: 106px;
  text-align: center;  
  background-image: url(boxTest.jpg);
  display: block;
  float: left;
  margin-right:5px;
}
.img_1 {
  width: 85px;
  height: 33px;
  float: left;
  text-align: center;
  margin-left: 15px;
  margin-top: 15px;
}
.boxfont_1 {
  float: left;
  text-align: left;
  top: 20px;
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
  position: relative;
  margin-left:5px;
}
.boxfont_bar {

}
.boxfontBottom_1 {
  margin-left: 15px;
  margin-top: 5px;
  float: left;
  text-align: center;
  color: #1063A5;
  font-size: 14px;
}

.left_banner {
    /* position: fixed; */
    /* top: 275px; */
    /* left: 0; */
    margin-bottom: 10px;
}



.boxMainLogo {
  margin-bottom: 10px;
  text-align: left;
  color: #000;
  font: bold 19px/1.2 'Malgun Gothic';
}
.textInfo {
  margin-bottom: 10px;
  text-align: left;
  color: #000;
  font: bold 19px/1.2 'Malgun Gothic';
}

.text_main {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: '돋움';
}

.text-left-main {
  float: left;
  width: 425px;
}
.text-left-loca {
  float: left;
  width: 90px;
  height: 20px;
  text-align: left;
  font-size: 12px;
  border-bottom: 1px solid #c0c6ca;
  margin-bottom: 5px;
}

.text-left-content {
  float: left;
  width: 305px;
  height: 20px;
  text-align: left;
  font-size: 13px;
  border-bottom: 1px solid #c0c6ca;
  cursor: pointer;
  margin-bottom: 8px;
}

.text-clear {
  display: block;
  float: none;
  clear: both;
  height: 0;
  width: 100%;
  font-size: 0 !important;
  line-height: 0 !important;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.text-left-content>a {
  text-decoration: none;
  color: rgb(49, 48, 48);
}
.text-left-content>a:hover {
  color: black;
  text-decoration: underline;
}

.fastIcon {
  margin-right: 3px;
}
.newIcon {
  margin-bottom: 5px;
  margin-left: 3px;
}