#MainTop {
    position: relative;
    width: 900px;
    margin: 0 auto 25px;
}
.mainTop1 {
    overflow: hidden;
    float: left;
    width: 900px;
    height: 120px;
    margin: 0 0 10px;
}
#TopBanner {
    float:left;
    width: 477px;
    height: 118px;
}
#TopPr {
    position: relative;
    overflow: hidden;
    float: right;
    height: 120px;
    margin-right: 5px;
}

.mainTop2 {
    float: left;
    width: 900px;
    height: 180px;
}
#PrimaryMenu {
    width: 477px;
    height: 171px;
    margin: 0 0 10px;
    border: 1px solid #d8e1e8;
}
#PrimaryMenu>li {
    float: left;
    width: 158px;
}

#PrimaryMenu>li>p.titleSub {
  width: 158px;
  height: 30px;
  padding-top:6.5px;
  font-weight: bold;
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #d8e1e8;
  border-left: 1px solid #e6e6e6;
  color:blue;
}

#PrimaryMenu>li>p.menu {
  margin-top:-10px;
}